@charset "UTF-8";

:root {
    --cor01: rgb(54,54,54);
    --cor02: rgb(204, 0, 0);
    --cor02__hover: rgb(190, 3, 3);
    --cor03: #ffffff;
    --cor04: #F2F2F2;
    --cor05: rgb(29, 29, 29);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* container_1 */

.container1 {
    display: flex;
    border-bottom: 1px solid var(--cor02);
    max-width: 1380px;
}

.honda-logo {
    background-color: var(--cor03);
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.honda-logo img {
    max-width: 200px;
    max-height: 200px;
}

.menu-superior {
    background-color: var(--cor03);
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.honda-conc {
    color: var(--cor02);
    display: flex;
    background-color: rgb(224, 223, 223);
    border-radius: 4px;
    padding: 10px;
    width: 130px;
    height: 40px;
    margin: 10px 5px;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
}

.honda-conc:hover {
    background-color: rgb(201, 201, 201);
}

.honda-test {
    display: flex;
    background-color: var(--cor02);
    border-radius: 4px;
    padding: 10px;
    width: 130px;
    height: 40px;
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
    color: var(--cor03);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
}

.honda-test:hover {
    background-color: var(--cor02__hover);
}

/* container_2 */

.container2 {
    background-color: var(--cor01);
    display: flex;
}

.logo-city {
    padding: 10px;
    padding-left: 80px;
    filter: invert(100%); /*inverte a cor da imagem de cinza para branco*/
}

.menu-esquerdo {
    background-color: var(--cor01);
    display: flex;
    padding-left: 80px;
    align-items: center;
}

.menu-esquerdo a {
    color: var(--cor03);
    text-decoration: none;
    padding: 15px;
    font-size: 0.80em;
}

.menu-esquerdo a:hover {
    border-bottom: 1.8px solid var(--cor02);
    transition-duration: 1s;
}

/* container_3 */

.container3 {
    background-color: var(--cor03);
    height: 500px;
}

.honda-city > img {
    width: 1349px;
    height: 480px;
}

/* container_4 */

.container4 {
    display: flex;
    margin-top: -100px;
    justify-content: space-evenly;
}

.honda-descricao img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.honda-descricao {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versao {
    font-weight: bold;
    color: var(--cor05) ;
}

.honda-descricao a {
    display: flex;
    text-decoration: none;
    background-color: var(--cor01);
    color: var(--cor03);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    font-size: 0.8em;
}

.honda-descricao a:hover {
    text-decoration: underline var(--cor02);
    transition-duration: 1s;
}

/* container_5 */

.titulogaleria {
    color: var(--cor01);
    display: flex;
    justify-content: center;
    margin: 70px;
    font-style: italic;
    font-size: 3rem;
}

.titulo-bold {
    color: var(--cor05);
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
}

.galeria-section {
    display: flex;
    height: 450px;
    justify-content: center;
}

.galeria-section img {
    margin: 10px;
}

/* test_drive */

.test-drive-section-container {
    display: flex;
    height: 500px;
    background-color: var(--cor04);
}

.test-drive-section-cinza {
    background-color: var(--cor01);
    clip-path: polygon(0% 0%,100% 0%,65% 100%, 0% 100%);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-drive-section-cinza img {
    width: fit-content;
}

.test-drive-section-branca {
    display: flex;
    align-items: center;
}

.test-drive-section-p1 {
    color: var(--cor05);
    font-weight: bold;
    font-size: 2em;
    width: 300px;
    margin-bottom: 10px;
}

.test-drive-section-p2 {
    width: 300px;
}

.test-drive {
    background-color: var(--cor02);
    border-radius: 4px;
    padding: 10px;
    width: 155px;
    height: 40px;
    color: var(--cor03);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-drive:hover {
    background-color: var(--cor02__hover);
}

/* container_6 */ 

.menu-final {
    background-color: var(--cor01);
    border-bottom: 1px solid var(--cor02); 
    padding: 50px; 
}

.menu-final h4 {
    margin-top: 0px;    
    margin-bottom: 30px;
}

.menu-final a {
    padding: 6px 0px;
}

ul {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.menu-final li {
    color:var(--cor03);
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
}

.menu-final a {
    color: var(--cor03);
    font-weight: 100;
    font-size: 1rem;
    display: block;
    text-decoration: none;
}

.menu-final a:hover {
    text-decoration: underline var(--cor02);
    transition-duration: 1s;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.footer-ibama {
    display: flex;
    align-items: center;
}

footer img {
    padding: 0px 20px;
}

footer p {
    padding: 0px 20px;
    color: rgb(139, 139, 139);
    font-size: 0.8em;
}

.redes-sociais-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redes-sociais-logo img {
    width: 40px;
    height: 40px;
    filter: invert(50%);
}

.footer-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-direita-termo {
    display: flex;
    flex-direction: row;
}

.footer-direita-termo p {
    padding: 0px 2px;
}

.footer-honda p{
    padding: 0px;
    margin: 0px;
    font-size: 0.75em;
}